div.wrap {
    width: 100%;
    padding: $wrap_padding;
}
p {
  margin-block-start: 0;
  margin-block-end:0;
  margin-inline-start: 0;
  margin-inline-end:0
}
html {
  //cursor: none;
  //width: 100vw;
  //overflow-x: hidden;
  * {
    box-sizing: border-box;
  }
}

@font-face {
  font-family: main_font;
  src: url(../fonts/FuturaLT.ttf);
}

body {
  font-family: main_font;
}


@media all and (max-width: 1440px) {
  div.wrap {
    padding: $wrap_padding_1440;
  }
}


@media all and (max-width: 768px) {
  div.wrap {
    padding: $wrap_padding_768;
  }
}

@media all and (max-width: 375px) {
  div.wrap {
    padding: $wrap_padding_375;
  }
}
