/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$main_font : url(../fonts/FuturaLT.ttf);

$wrap_padding : 0 140px;
$wrap_padding_1440 : 0 90px;
$wrap_padding_768 : 0 40px;
$wrap_padding_375 : 0 10px;
