body.archive-projects {

  div.wrap {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
  }

  div.project {
    height: 80vh;
    display: flex;
    align-self: flex-start;
    align-items: center;
    color: black;
    margin-bottom: 120px ;
    &:first-of-type {
      margin-top: 120px;
    }
    div.technology {
      height: 100%;
      width: 100px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      p {
        transform: rotate(90deg) translate(50%,-75%);
        transform-origin: 50% 0;
        font-size: 1.5em;
        color: black;
        background-color: white;
        padding-right: 30px;
        width: max-content;
      }
      div.line {
        width: 1px;
        background-color: black;
        height: 100%;
      }
    }

    div.resize_container {
      height: 100%;
      display: flex;
    }
  img {
    height: 100%;
  }
  p {
    font-family: main_font;
  }
  div.right_container {
    margin-left: 60px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  div.infos_container {
    >p {
      display: block;
      width: 100px;
      height: 75px;
      margin-top: auto;
    }

    h2.title {
      font-size: 5em;
      text-transform: uppercase;
      display: block;
      word-break: break-word;
    }
    a {
      text-decoration: none;
    }
  }
}
}
